html,
body {
  margin: 0;
  padding: 0;
  background: #272a29;
  overflow: hidden;
  height: 100vh;
  position: relative;
  font-size: 16px;
}

.stars,
.sec-color,
.tert-color,
.quart-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.stars {
  color: white;
  opacity: 1;
  z-index: 3;
}

.sec-color {
  background-image: url("https://live.staticflickr.com/65535/52259221868_53dae692b6_h.jpg");
  opacity: 0.07;
  z-index: 1;
}

.tert-color {
  background-image: url("https://wallpapers.com/images/hd/constellations-6002-x-3737-wallpaper-1o6h61txs9ts5suw.jpg");
  opacity: 0.05;
  z-index: 2;
}

.quart-color {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/154/97/280/nebula-4k-ultra-hd-wallpaper-preview.jpg");
  background-size: cover;
  opacity: 0.03;
  z-index: 2;
}

.title {
  width: 100%;
  max-width: 18rem; /* Control title size */
}

.s-box {
  background-color: black;
  position: absolute;
  z-index: 10;
  top: 55%; /* Adjusted for dynamic positioning */
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 1rem;
  border-radius: 0.9375rem;
  width: 80vw; /* Fluid width */
  max-width: 25rem; /* Control max width */
  box-shadow: 0 0 1.25rem rgba(206, 186, 75, 0.5);
  height: auto; /* Allow height to adjust based on content */
}

.s-box input {
  background-color: #202020;
  color: #e0e0e0; /* Keep this light color */
  padding: 0.625rem;
  border: none;
  border-radius: 0.3125rem;
  width: 100%;
  font-size: 0.875rem; /* Adjust if necessary */
}

.s-box button {
  margin-top: 0.625rem;
  padding: 1rem;
  width: 50%;
  background-color: black;
  border: 2px solid white;
  border-radius: 0.3125rem;
  color: white;
  font-size: 1.125rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.s-box button:hover {
  background-color: #005577;
}

.s-box button:focus {
  outline: none;
  box-shadow: 0 0 1rem rgb(167, 137, 4);
}

/* Media queries to adjust size */
@media (max-width: 48em) {
  .s-box {
    width: 75vw; /* Slightly larger width */
    padding: calc(1rem * 0.75); /* Reduce padding by 25% */
    top: 50%; /* Keep it centered */
  }
}

@media (max-width: 40.625em) {
  .s-box {
    width: 70vw; /* Further reduce width */
    top: 50%; /* Keep it centered */
  }
}

@media (max-width: 26.25em) {
  .s-box {
    width: 85vw; /* Slightly larger width for small screens */
    top: 55%; /* Keep it above the title */
  }
}

@media (max-width: 21em) {
  .s-box {
    width: 99vw; /* Slightly larger width */
    padding: calc(1rem * 0.25); /* Reduce padding by 25% */
    top: 60%; /* Keep it centered */
  }
}

.stars::before,
.stars::after {
  content: "";
  position: absolute;
  width: 0.125rem;
  height: 0.125rem;
  background: white;
  border-radius: 50%;
  box-shadow: 6.25rem 12.5rem white, 12.5rem 25rem white, 18.75rem 37.5rem white,
    25rem 50rem white, 31.25rem 62.5rem white;
  animation: blink 2s infinite ease-in-out alternate;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.1;
  }
  10% {
    opacity: 1;
  }
}

.star {
  position: absolute;
  width: 0.15rem;
  height: 0.15rem;
  background: white;
  border-radius: 50%;
  animation: blink 2s infinite ease-in-out alternate;
}

.shooting-star-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.shooting-star {
  position: absolute;
  width: 0.1875rem;
  height: 9.375rem;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  border-radius: 50%;
  opacity: 0;
  filter: blur(0.0625rem);
  transform-origin: left center;
}

@keyframes shoot {
  0% {
    transform: translate(0, 0) rotate(120deg);
    opacity: 0;
  }
  20% {
    opacity: 0.9;
  }
  100% {
    transform: translate(100vw, 100vh) rotate(120deg);
    opacity: 0;
  }
}

.scorpio-image-container,
.const-image-container {
  position: absolute;
  transform: translateY(-50%);
  z-index: 5;
}

.scorpio-image {
  width: 25%;
  position: absolute;
  bottom: 5%;
  left: 10%;
}

.const-image {
  width: 25%;
  position: absolute;
  bottom: 20%;
  right: 10%;
}

.scorpio-image-container,
.const-image-container {
  position: absolute;
  transform: translateY(-50%);
  opacity: 0.2;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.scorpio-image-container {
  left: 5vw;
  top: 45vh;
  z-index: 15;
}

.scorpio-image {
  width: 12.5rem;
  animation: float 10s infinite ease-in-out;
}

@keyframes float {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(0.625rem, -0.625rem);
  }
  50% {
    transform: translate(-0.625rem, 0.625rem);
  }
  75% {
    transform: translate(-0.625rem, -0.625rem);
  }
}

.scorpio-image-container.active {
  opacity: 1;
}

.scorpio-image.active {
  transform: scale(2);
}

.const-image-container {
  right: 5vw;
  top: 45vh;
  z-index: 15;
}

.const-image {
  width: 15rem;
  animation: float 10s infinite ease-in-out;
}

.const-image-container.active {
  opacity: 1;
}

.const-image.active {
  transform: scale(2);
}

@media(max-width:800px){
  .scorpio-image-container, .const-image-container{
    display: none;
  }
}